// Typography: Helvetica (default)
$body-font: 'Roboto', sans-serif;
$heading-font: 'Rokkitt', serif;
$subhead-font:'Sue Ellen Francisco', cursive;
$navigation-font: 'Lusitana', serif;

// Colors (default theme)
$text-color: #2a491c;
$text-color-light: #fff; 
$text-color-dark: #594218;

$link-color: #fff; //white
$link-color-hover: #dcefd7; //mint

// Buttons
$button-color: #2a491c;
$button-color-light: #fff;
$button-color-dark: #594218; 


// Borders
$border-color: #2a491c; //green
$border-color-light: #fff; //white
$border-color-dark: #594218; //brown
$border-width: 0px;

$accent-color: #54b13a;

$body-color: #fff;
$section-color1: #f1f8ef;
$section-color2: #bab2a4;
$header-color: #2a491c;
$footer-color: #2a491c;
$hero-color: #ddd;



// Breakpoints 
$breakpoint-small: 768px; //768-1049
$breakpoint-medium: 1050px; //1050-1249
$breakpoint-large: 1250px;  




